{% extends "notes/base.html" %} {% block content %}
{% load i18n %}
{% load crispy_forms_tags %} 

<div class="container w-25">
    <form action="{% url 'notes:login' %}" method="post">
        {% csrf_token %}
        <div class="form-group mt-3">
            <div class='card p-3 bg-white mt-3 mb-3'>
                <h1 class="text-center">
                    <b>Log in</b>
                </h1>
                {{ form|crispy }}
                <button type="submit" value="login" class="btn btn-outline-dark">Log in</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}