/* Custom CSS */

html {
    overflow-y: scroll;
} 

html, body {
    height: 100%;
    margin: 0;
}

body {
    padding-top: 56px;
}


.nav-link:hover {
    color: #000000;
}

.image-upload>input {
    display: none;
}