{% extends "notes/base.html" %} {% block content %}
{% load i18n %}
{% load crispy_forms_tags %} 

<div class="container w-50">
    <h1 class="display-3 text-center">
        <b>My Profile</b>
    </h1>
    <form method="post">
        {% csrf_token %}
        <div class='card p-3 bg-white mt-3'>
            {{ form|crispy }}
            <button type="submit" class="btn w-100 mt-3 btn-dark" value="change_password" name="change_password" class="btn btn-outline-dark">Change Password</button>
        </div>
        
    </form>
</div>

{% endblock %}