{% extends "notes/base.html" %} {% block content %}
{% load i18n %}
{% load crispy_forms_tags %} 

<div class="container w-75">
    <h1 class="display-5 text-center">
        <b>{% translate "CREATE" %}</b>
    </h1>
    <div class="mb-3">
        <form method="post">
            <div class='card p-3 bg-white mt-3'>
                {% csrf_token %}
                {{ text_form|crispy }}
                <button type="submit" type="submit" class="btn mt-3 btn-outline-dark">Create Note</button>
                <div class="card-footer bg-white">
                    <div class="d-flex justify-content-center">
                        <p>Or you can directly <a href="{% url 'notes:upload' %}"><b>upload</b></a></p>
                    </div>
                </div> 
            </div>
        </form>
    </div>
</div>

{% endblock %}