{% extends "base.html" %} {% block content %}
{% load i18n %}
{% load crispy_forms_tags %} 

<div class="container w-75 vh-100">
    <h1 class="display-5 text-center">
        <b>{% translate "CREATE" %}</b>
    </h1>
    <form method="post">
        <div class='card p-3 bg-white mt-3'>
            {% csrf_token %}
            {{ text_form|crispy }}
            <button type="submit" type="submit" class="btn mt-3 btn-dark">Create Note</button>
            <div class="card-footer bg-white">
                <div class="d-flex justify-content-center text-center">
                    <p>Or you can <a href="{% url 'notes:upload' %}"><b>upload</b></a> a file</p>
                </div>
            </div> 
            {% if save_error %}
            <div class="alert alert-danger">
                A file with the same name already exists for this user.
            </div>
            {% endif %}
        </div>
    </form>
</div>

{% endblock %}