{% extends "base.html" %} {% block content %}
{% load i18n %}
{% load crispy_forms_tags %} 

<div class="container w-75 vh-100">
    <div class="text-center m-1">
        <h1 class="display-5">
            <b>{{ file.title }}</b>
        </h1>
        <p>
            [{{ file.created_at.date }}]
        </p>
        <a class="text-center btn btn-dark m-1" href="{% url 'notes:note' file.title %}">Back</a>
    </div>

    <form method="post">
        {% csrf_token %}
        <div class='card p-3 bg-white mt-3'>
            {{ form|crispy }}
        </div>
        <button type="submit" class="btn w-100 mt-3 btn-dark" value="save" name="save">Save</button>
    </form>


</div>

{% endblock %}