{% extends "notes/base.html" %} {% block content %}
{% load i18n %}
{% load crispy_forms_tags %} 

<div class="container w-75">
    <h1 class="display-5 text-center">
        <b>{{ file.title }}</b>
    </h1>
    <h5 class="text-center">
        <p>
            ({{ file.created_at.date }})
        </p>
    </h5>

    <form method="post">
        {% csrf_token %}
        <div class='card p-3 bg-light mt-3'>
            {{ form|crispy }}
        </div>
        <button type="submit" class="btn w-100 mt-3 btn-outline-dark" value="save" name="save" class="btn btn-outline-dark">Save</button>
    </form>

    <a class="" href="{% url 'notes:file' file %}">Back</a>

</div>

{% endblock %}