{% extends "notes/base.html" %} {% block content %}
{% load i18n %}

<div class="container bg-light">
    <h1 class="display-3 text-center">
        <b>{{ file.title }}</b>
    </h1>
    <h5 class="text-center mt-1">
        <p>
            ({{ file.created_at.date }})
        </p>
    </h5>

    <a class="" href="{% url 'notes:edit' file %}">Edit</a>

</div>

<div class="container bg-light h-100">
    <iframe srcdoc="{{ parsed_file }}" height="100%" width="100%" frameborder="0" ></iframe>
</div>

{% endblock %}