{% extends "base.html" %} {% block content %}
{% load i18n %}
{% load static %}


{% if user.is_authenticated %}
<div class="container-fluid vh-100">
    
    <div class="row align-items-center ">
        <div class="col bg-white rounded pt-5 pb-5 border border-dark">
            <div class="container">
                <h1 class="display-2">
                    <b>{% translate "Are you ready?" %}</b>
                </h1>
                <h1 class="display-5">
                    {% translate "Notes have never been easier." %}
                </h1>
                <p>
                    <b>{% translate "Tip:" %}</b><br>
                    {{tip}}
                </p>
                <a href="{% url 'notes:create' %}" class="btn btn-lg text-center btn-dark">{% translate "Let's begin" %}</a>
            </div>
        </div>
    </div>
</div>
    
{% else %}
<div class="container-fluid vh-100">
    <div class="row align-items-center">
        <div class="col col-sm-6 bg-white rounded pt-5 pb-5 border border-dark">
            <div class="container">
                <h1 class="display-5">
                    {% translate "Welcome to" %}
                </h1>
                <h1 class="display-2">
                    <b>Cerebrico</b>
                </h1>
                <ul class="list-inline">
                    <li class="list-inline-item">{% translate "Create." %}</li>
                    <li class="list-inline-item">{% translate "Control." %}</li>
                    <li class="list-inline-item">{% translate "Capture." %}</li>
                </ul>
                <figure class="text-end">
                    <blockquote class="blockquote">
                      <p>{{quote}}</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        {{author}}
                    </figcaption>
                </figure>
                <a href="{% url 'authentication:signup' %}" class="btn btn-lg text-center btn-dark">{% translate "Join us" %}</a>
            </div>
        </div>
        <div class="col col-sm-6 rounded pt-5 pb-5">
            <h1 class="display-5">
                {% translate "Endless Possibilities" %}
            </h1>
            <h5>
                {% translate "Utility-driven" %} | 
                {% translate "Smart" %} |
                {% translate "Reliable" %}
            </h5>
            <p class="lead">
                {% translate "A place for all people school, university and work." %}
            </p>
            <p>
                {% translate "Take a moment and think about all the times when you've wasted time looking for information" %}...
                {% translate "Now imagine it's all in" %}
                 <b>{% translate "one place." %}</b>
            </p>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}