{% extends "base.html" %} {% block content %}
{% load i18n %}
{% load static %}

<div class="container vh-100">
    <h1 class="display-5 text-center">
        <b>{% translate "NOTES" %}</b>
    </h1>

    {% if notes %}
        <div class="list-group justify-content-center">
            <li class="list-group-item list-group-item-secondary">{% translate "Name" %}</li>
            {% for note in notes %}
                <div class="d-flex">
                    <a href="{% url 'notes:note' note.title %}" class="list-group-item list-group-item-action "><b>{{ note.title }}</b>
                        <div class="d-flex">
                            <small>{{ note.created_at.date }}</small>
                        </div>
                    </a>
                    <a href="{% url 'notes:delete' note.title %}" class="btn btn-sm btn-light d-inline-flex align-items-center">
                        <img src="{% static 'icons/trash.svg' %}" alt="Delete">
                    </a>
                </div>
            {% endfor %}
        </div>
        
    {% else %}
        <div class="w-100 text-center">
            <h5>{% translate "You still don't have any notes." %}</h5>
            <h6>{% translate "Go and create them" %} <a href="{% url 'notes:create' %}">{% translate "here" %}</a>.</h6>
        </div>
    {% endif %}
</div>
{% endblock %}