{% extends "base.html" %} {% block content %}
{% load i18n %}
{% load static %}

<div class="container w-75 h-100">
    <div class="text-center">
        <h1 class="display-5">
            <b>{{ note.title }}</b>
            <a href="{% url 'notes:delete' note.title %}" class="btn btn-sm btn-light d-inline-flex align-items-center">
                <img src="{% static 'icons/trash.svg' %}" alt="Delete">
            </a>
        </h1>
        
        <p>
            [{{ note.created_at.date }}]
        </p>
        <a class="text-center btn btn-dark m-1" href="{% url 'notes:edit' note.title %}">{% translate "Edit" %}</a>
    </div>
    <div class="card border m-3">
        <div class="card-body">
            {{ parsed_note|safe }}
        </div>
    </div>
</div>

{% endblock %}