<div>
 <input id="1" name="1" type="checkbox"/>
 <label for="1">
  Testing 1
 </label>
</div>
<div>
 <input id="2" name="2" type="checkbox"/>
 <label for="2">
  Testing 2
 </label>
</div>
<div>
 <input id="3" name="3" type="checkbox"/>
 <label for="3">
  New Test For project
 </label>
</div>
<div>
 <p hidden="">
  444
 </p>
 <h3>
  [Action Point] Testing AP
 </h3>
</div>
<h1>
 Welcome
</h1>
<p>
 I'll be testing my markdown parser using this file.
You're free to take notes.
</p>
<h2>
 Agenda
</h2>
<h3>
 How to modify markdown parser to the user's needs?
</h3>
<blockquote>
 <p>
  Needs to create P-tags for every new line?
 </p>
</blockquote>
<h3>
 How to add TODOs?
</h3>
<h3>
 How to use correctly
</h3>
<h3>
 Integrate in Django
</h3>
<blockquote>
 <p>
  Use renderer
 </p>
</blockquote>
<h3>
 # AP Iztrii praznoto mqsto i shte ima bug
</h3>
<h3>
 <a href="https://docs.djangoproject.com/en/5.0/intro/tutorial01/">
  Django Documentation
 </a>
</h3>
<h3>
 <a href="https://beautiful-soup-4.readthedocs.io/en/latest/">
  Beautiful Soup Documentation
 </a>
</h3>
