{% extends "notes/base.html" %} {% block content %}
{% load i18n %}

<div class="container">
    <h1 class="display-3 text-center mt-5">
        <b>My Profile</b>
    </h1>
    <form method="post">
        {% csrf_token %}
        <div class='card p-3 bg-light mt-3'>
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn w-100 mt-3 btn-outline-dark" value="save" name="save" class="btn btn-outline-dark">Save</button>
        <!-- <button type="submit" value="add" name="add" class="btn btn-outline-dark">Add</button> -->
    </form>
    <a class="" href="{% url 'password' %}">Change Password</a>
</div>
{% endblock %}