{% extends "notes/base.html" %} {% block content %}
{% load i18n %}
{% load crispy_forms_tags %} 

<div class="container w-50">
    <h1 class="display-5 text-center">
        <b>My Profile</b>
    </h1>
    <form method="post">
        {% csrf_token %}
        <div class='card p-3 bg-white mt-3'>
            {{ form|crispy }}
            <button type="submit" class="btn w-100 mt-3 btn-dark" value="save" name="save" class="btn btn-outline-dark">Save</button>
            <div class="card-footer bg-white">
                <div class="d-flex justify-content-center">
                    <a href="{% url 'notes:change_password' %}">Change Password</a>
                </div>
            </div>
        </div>
    </form>
    <button class="btn w-100 mt-3 btn-outline-danger" onclick="deleteProfile()">Delete Profile</button>
</div>

{% endblock %}