{% extends "notes/base.html" %} {% block content %}
{% load i18n %}
{% load static %}

<div class="container vh-100">
    <h1 class="display-5 text-center">
        <b>Search</b>
    </h1>

    {% if found_files %}
        <div class="list-group justify-content-center">
            <li class="list-group-item list-group-item-secondary">Name</li>
            {% for file in found_files %}
                <div class="d-flex">
                    <a href="{% url 'notes:file' file.title %}" class="list-group-item list-group-item-action "><b>{{ file.title }}</b>
                        <div class="d-flex">
                            <small>{{ file.created_at.date }}</small>
                        </div>
                    </a>
                    <a href="{% url 'notes:file_delete' file.title %}" class="btn btn-sm btn-light d-inline-flex align-items-center">
                        <img src="{% static 'notes/icons/trash.svg' %}" alt="Create">
                    </a>
                </div>
            {% endfor %}
        </div>
        
    {% else %}
        <div class="w-100 text-center">
            <h5>{{ error }}</h5>
        </div>
    {% endif %}
</div>
{% endblock %}