{% extends "base.html" %} {% block content %}
{% load i18n %}

<div class="container w-75 vh-100">
    <div class="text-center">
        <h1 class="display-5">
            <b>{% translate "TASKS" %}</b>
        </h1>
    </div>
    {% if all_tasks_dict %}
        <div class="card border m-3">
            <div class="card-body" id="tasks"> 
                <form id="formName" action="{% url 'tasks' %}" method="post">
                    {% csrf_token %}
                    <!-- <button type="submit" class="btn btn-dark d-flex justify-content-center text-center" value="save" name="save">{% translate "Save" %}</button> -->
                    {% for key, tasks in all_tasks_dict.items %}
                        {% for task in tasks %}
                            <input type='checkbox' name="{{key}}_cb_{{task.item}} {{task.text}}_cb_{{ forloop.counter0 }}" id="{{ forloop.counter0 }}" value="{{task.item}} {{task.text}}" {{task.state}}>{{task.text}}</input><br>
                            <input type='hidden' value='0' name="{{key}}_cb_{{task.item}} {{task.text}}_cb_{{ forloop.counter0 }}">
                        {% endfor %}
                    {% endfor %}
                </form>
            </div>
        </div>
    {% else %}
        <div class="text-center">
            {% translate "No Tasks found." %}
        </div>
    {% endif %}
</div>

{% endblock %}