{% extends "notes/base.html" %} {% block content %}
{% load i18n %}

<div class="container">
    <h1 class="display-3 text-center mt-5">
        
        <b>{% translate "CREATE" %}</b>
    </h1>

    <div class="mb-3 vh-100">
        <form method="post">
            <div class='card p-3 bg-light mt-3'>
                {% csrf_token %}
                {{ upload_form }}
            </div>
            <button type="submit" type="submit" class="btn w-25 mt-3 btn-outline-dark float-right">Upload File</button> <!-- TODO: Check type -->
            <!-- <button type="submit" value="add" name="add" class="btn btn-outline-dark">Add</button> -->
        </form>
        <p>or</p>
        <a class="" href="{% url 'notes:create' %}">Create</a>
    </div>
</div>

{% endblock %}