{% extends "notes/base.html" %} {% block content %}
{% load i18n %}
{% load crispy_forms_tags %} 

<div class="container">
    <h1 class="display-3 text-center">
        <b>{% translate "UPLOAD" %}</b>
    </h1>
    <div class="mb-3">
        <form method="post">
            <div class='card p-3 bg-white mt-3'>
                {% csrf_token %}
                {{ upload_form|crispy }}
                <div class="card-footer bg-white">
                    <div class="d-flex justify-content-center">
                        <button type="submit" type="submit" class="btn w-25 mt-3 btn-outline-dark float-right">Upload File</button> <!-- TODO: Check type -->
                        <!-- <p>Or you can go and <a href="{% url 'notes:create' %}"><b>write</b></a></p> -->
                    </div>
                </div> 
            </div>
        </form>
    </div>
</div>

{% endblock %}